<?xml version="1.0"?>
<FileZilla3 version="3.27.0-rc1" platform="*nix">
  <Settings>
  <Setting name="Default editor">2/usr/bin/gedit</Setting>
  <Setting name="Always use default editor">1</Setting>
  </Settings>
</FileZilla3>